#!/bin/sh

# debconf lib
. /usr/share/debconf/confmodule

# init variables
mode="$1"
mkdev="true"
mkcfg="true"
tvnorm=""
freqtab=""
doscan=""

# create v4l devices ?
test -c /dev/.devfsd -o -c /dev/video0 && mkdev="false"
if test "$mkdev" = "true"; then
	db_input medium xawtv/makedev
	db_go
	db_get xawtv/makedev
	mkdev="$RET"
fi

# build xawtv config?
if test -s /etc/X11/xawtvrc; then
	mkcfg="false"
fi
if test "$mode" = "reconfigure"; then
	mkcfg="true"
fi
if test "$mkcfg" = "true"; then
	db_input medium xawtv/build-config
	db_go
	db_get xawtv/build-config
	mkcfg="$RET"
fi

if test "$mkcfg" = "true"; then
	# configuration
	db_input medium xawtv/tvnorm
	db_go
	db_get xawtv/tvnorm
	tvnorm="$RET"
	db_input medium xawtv/freqtab
	db_go
	db_get xawtv/freqtab
	freqtab="$RET"
	db_input medium xawtv/channel-scan
	db_go
	db_get xawtv/channel-scan
	doscan="$RET"
fi

